body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
label,
button,
nav {
  font-family: "Familjen Grotesk", sans-serif !important;
  letter-spacing: 0.2px !important;
}

body,
p,
label,
nav,
h6,
.btn {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.6em !important;
}

body {
  background: #ffffff;
}

.bold {
  font-weight: 700 !important;
}

.medium-bold {
  font-weight: 600 !important;
}

.text-grey {
  color: #58595b !important;
}

.text-green {
  color: #004daf !important;
}

a {
  color: #004daf;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active {
  opacity: 0.72;
  transition: all 0.3s ease-in-out;
}

.bg-gradient-primary {
  background-color: #004daf;
  background-image: linear-gradient(180deg, #004daf 10%, #004daf 100%);
}

.shadow {
  box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.12) !important;
}

.h3 {
  font-size: 18px;
  color: #13182b !important;
  font-weight: 600 !important;
}

#wrapper #content-wrapper {
  background-color: #f7f8ff;
}

.card {
  border: 0px;
}

label {
  color: #58595b;
}

img {
  width: 100%;
  border-radius: 0px;
}

.form-control {
  color: #13182b;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  background: #f7f8ff;
  border-radius: 0px;
  border: 1px #eeeeee solid;
  box-shadow: none !important;
}

.form-control::placeholder {
  color: #b2b2b2;
}

.form-control:focus {
  background: #ffffff;
  border: 1px #004daf solid;
}

.form-check {
  width: 100%;
}

.form-check-input {
  box-shadow: none !important;
  position: relative;
  top: 2px;
}

.form-check-input:focus {
  border-color: #004daf;
}

.form-check-input:checked {
  background-color: #004daf;
  border-color: #004daf;
}

textarea.form-control {
  min-height: 80px;
}

.text-primary {
  color: #004daf !important;
}

.text-success {
  color: #22c197 !important;
}

.text-info {
  color: #00c7dd !important;
}

.text-warning {
  color: #ffbd5b !important;
}

.btn-primary {
  color: #fff;
  background-color: #004daf;
  border-color: #004daf;
}

.btn-success {
  color: #fff;
  background-color: #22c197;
  border-color: #22c197;
}

.btn-info {
  color: #fff;
  background-color: #00c7dd;
  border-color: #00c7dd;
}

.btn-warning {
  color: #fff;
  background-color: #ffbd5b;
  border-color: #ffbd5b;
}

.btn-danger {
  color: #fff;
  background-color: #a40c35 !important;
  border-color: #a40c35;
}

.alert-primary {
  border-color: #004daf !important;
  background-color: rgba(0, 77, 175, 0.92);
  color: #004daf !important;
}

.alert-success {
  border-color: #22c197 !important;
  background-color: rgba(34, 193, 151, 0.92);
  color: #22c197 !important;
}

.alert-info {
  border-color: #00c7dd !important;
  background-color: rgba(0, 199, 221, 0.92);
  color: #00c7dd !important;
}

.alert-warning {
  border-color: #ffbd5b !important;
  background-color: rgba(255, 189, 91, 0.92);
  color: #ffbd5b !important;
}

.alert-danger {
  border-color: #a40c35 !important;
  background-color: rgba(164, 12, 53, 0.92);
  color: #a40c35 !important;
}

.bg-primary {
  background-color: #004daf !important;
}

.bg-success {
  background-color: #22c197 !important;
}

.bg-info {
  background-color: #00c7dd !important;
}

.bg-warning {
  background-color: #ffbd5b !important;
}

.border-left-primary {
  border-left: 0.25rem solid #008edb !important;
}

.border-left-success {
  border-left: 0.25rem solid #22c197 !important;
}

.border-left-info {
  border-left: 0.25rem solid #00c7dd !important;
}

.border-left-warning {
  border-left: 0.25rem solid #ffbd5b !important;
}

.text-xs {
  font-size: 14px;
}

.font-weight-bold {
  font-weight: 600 !important;
}

.h5,
h5 {
  font-size: 18px;
}

.text-gray-800 {
  color: #58595b !important;
}

.btn {
  box-shadow: none !important;
  border-radius: 0px !important;
}

/* DATA TABLES */

.dataTables_length {
  margin-bottom: 5px !important;
}

div.dataTables_wrapper div.dataTables_length select {
  margin: 0 5px !important;
}

.dataTables_filter {
  margin-bottom: 5px !important;
}

.dataTables_paginate {
  margin-top: 20px !important;
}

.dataTables_info {
  margin-top: 15px !important;
  color: #58595b !important;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 0;
}

.page-item.disabled .page-link {
  border-color: #eeeeee;
  background-color: #f7f8ff;
  color: #58595b !important;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #004daf;
  border-color: #004daf;
}

.page-item .page-link {
  color: #004daf;
  background-color: #fff;
  border: 1px solid #eeeeee;
  box-shadow: none !important;
}

table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
  vertical-align: middle;
  font-size: 14px;
}

.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 1px;
}

.table-bordered th {
  border-top: 0px;
  color: #13182b;
  font-weight: 600;
}

.table {
  color: #58595b;
}

.table-striped tbody tr:nth-of-type(2n + 1) {
  background-color: #f7f8ff;
}

/*SELECT 2*/

.select2-container {
  width: 100% !important;
}

.select2-selection {
  border: 1px #e2eee6 solid !important;
  height: 40px !important;
}

.select2-selection__rendered {
  color: #13182b !important;
  font-weight: 600 !important;
  line-height: 2.6em !important;
}

.select2-selection__arrow {
  height: 40px !important;
}

.select2-dropdown {
  border: 1px #e2eee6 solid !important;
}

.select2-results {
  font-weight: 600 !important;
}

.select2-search__field {
  border: 1px #e2eee6 solid !important;
}

.select2-search__field:focus,
.select2-search__field:active {
  border: 1px #004daf solid !important;
}

.select2-results__option--selected {
  background-color: #e2eee6 !important;
  color: #13182b !important;
}

.select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #004daf !important;
  color: #ffffff !important;
}

.select2-results__option--disabled {
  background: #f7f8ff !important;
  color: #58595b !important;
}

/* SIDEBAR */

.sidebar .nav-item .nav-link span {
  font-size: 14px !important;
}

.sidebar .nav-item .nav-link {
  font-weight: 500 !important;
}

.sidebar .nav-item.active .nav-link {
  font-weight: 500 !important;
}

.sidebar hr.sidebar-divider {
  margin: 0px !important;
}

.sidebar-dark .nav-item .nav-link {
  color: rgba(255, 255, 255, 1);
}

.sidebar-dark .nav-item .nav-link i {
  color: rgba(255, 255, 255, 1);
}

.img-icon-admin {
  width: 100%;
}

.img-icon-admin {
  width: 100%;
  max-width: 45px;
}

/* TOP BAR */

.topbar .topbar-divider {
  border-right: 1px solid #e2eee6 !important;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link span {
  font-size: 14px;
  color: #58595b !important;
  font-weight: 500 !important;
}

nav.navbar .dropdown .dropdown-menu {
  padding: 0;
  font-size: 14px;
  border: 1px #e2eee6 solid;
  border-radius: 0px;
}

nav.navbar .dropdown .dropdown-menu .dropdown-item {
  padding: 0.5rem 1.5rem;
  font-size: 14px;
  font-weight: 500 !important;
  color: #58595b !important;
}

nav.navbar .dropdown .dropdown-menu .dropdown-item:hover,
nav.navbar .dropdown .dropdown-menu .dropdown-item:focus {
  background-color: #f7f8ff !important;
}

nav.navbar .dropdown .dropdown-menu .dropdown-item i.fa-sign-out-alt {
  color: #a40c35 !important;
}

.btn-link {
  color: #004daf;
  box-shadow: none !important;
}

i.fas.fa-trash {
  color: #a40c35 !important;
}

/* FOOTER */

footer.sticky-footer .copyright {
  font-size: 14px;
  color: #58595b;
  line-height: 1.6em;
}

/* MODAL */

.modal-content {
  border: 0px;
  border-radius: 0px;
}

.modal-header {
  background-color: #004daf;
  border-bottom: 0px;
  border-radius: 0px;
}

.modal-header .modal-title {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.modal-header .close {
  text-shadow: none;
  color: #fff;
  opacity: 1;
  box-shadow: none !important;
}

.modal-body {
  color: #58595b;
}

.modal-body p {
  margin: 0px;
}

.modal-footer {
  border-radius: 0px;
}

@media (min-width: 360px) and (max-width: 767px) {
  .h3.mb-0 {
    margin-bottom: 15px !important;
  }

  /* DATA TABLES */

  div.dataTables_wrapper div.dataTables_filter input {
    max-width: 110px;
  }

  .dataTables_info {
    margin-top: 5px !important;
  }

  .dataTables_paginate {
    margin-top: 15px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* DATA TABLES */

  div.dataTables_wrapper div.dataTables_filter input {
    max-width: 160px;
  }
}
