body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
label,
button,
nav {
  font-family: "Familjen Grotesk", sans-serif !important;
  letter-spacing: 0.2px !important;
  color: #13182b !important;
}

body,
p,
label,
nav,
h6,
.btn {
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 1.8em !important;
}

body {
  background: #ffffff;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.bold {
  font-weight: 700 !important;
}

.medium-bold {
  font-weight: 600 !important;
}

.text-grey {
  color: #58595b !important;
}

.text-green {
  color: #004daf !important;
}

.alert-danger {
  border-color: #a40c35 !important;
  background-color: rgba(164, 12, 53, 0.1);
  color: #a40c35 !important;
  border-radius: 0px !important;
}

a {
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active {
  opacity: 0.72;
  transition: all 0.3s ease-in-out;
}

img {
  width: 100%;
  border-radius: 0px;
}

.card-img,
.card-img-top {
  border-radius: 0px !important;
}

.form-control {
  color: #13182b;
  font-size: 13px;
  font-weight: 500;
  height: 40px;
  background: #f7f8ff;
  border-radius: 0px;
  border: 1px #eeeeee solid;
  box-shadow: none !important;
}

.form-control::placeholder {
  color: #b2b2b2;
}

.form-control:focus {
  background: #ffffff;
  border: 1px #004daf solid;
}

.form-check {
  width: 100%;
}

.form-check-input {
  box-shadow: none !important;
  position: relative;
  top: 2px;
}

.form-check-input:focus {
  border-color: #004daf;
}

.form-check-input:checked {
  background-color: #004daf;
  border-color: #004daf;
}

textarea.form-control {
  min-height: 80px;
}

.btn-primary {
  font-size: 13px !important;
  height: 40px;
  background: #004daf;
  background-image: linear-gradient(to right, #004daf, #004daf);
  border: 0px #004daf solid;
  border-radius: 0px;
  padding: 0.375rem 1.5rem;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  opacity: 0.72;
  transition: all 0.3s ease-in-out;
}

.col-page {
  margin-top: 6.7rem;
}

.col-title-content {
  border-left: 4px #004daf solid;
}

/*MODAL*/

.modal-content {
  border-radius: 0px;
  border: 0px;
}

/*LOGIN*/

.body-login .card {
  border: 0;
  border-radius: 0;
}

.body-login .card:hover {
  border: 0 !important;
  box-shadow: none !important;
  transition: none !important;
}

.bg-left-login {
  background: #004daf;
  background-image: linear-gradient(to right, #004daf, #004daf);
  height: 100vh;
}

.box-content-login {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

h3.title {
  border-bottom: 1px #fff solid;
}

h3.subtitle {
  font-size: 22px;
}

h3.subtitle span {
  font-weight: 400;
}

.bg-right-login .card-body {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

/*HEADER*/

header nav.navbar {
  background: #f7f8ff;
}

a.navbar-brand img {
  width: 100%;
  max-width: 200px;
}

a.nav-link {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

a.nav-link:hover,
a.nav-link:focus,
a.nav-link:active,
a.nav-link.active {
  color: #004daf !important;
}

a.nav-link .fa.fa-list {
  position: relative;
  top: 1px;
}

.btn-login {
  line-height: 1.4em !important;
  height: 32px;
  background: transparent;
  border: 1px #004daf solid;
  border-radius: 0px;
  padding: 0.375rem 1rem;
  margin-right: 5px;
  margin-left: 10px;
  text-decoration: none;
}

.btn-nav-search {
  line-height: 1em !important;
  height: 32px;
  margin-left: 15px;
  padding: 0.375rem 1rem;
}

/*NAV MEGA MENU*/

.navbar .megamenu {
  padding: 1.5rem;
  border: 0;
  border-top: 1px #004daf solid;
  border-bottom: 1px #f7f8ff solid;
  border-radius: 0;
}

.dropdown-toggle::after {
  margin-left: 10px;
  position: relative;
  top: 2px;
}

.navbar .megamenu h6 {
  font-size: 13px !important;
}

.navbar .megamenu ul {
  padding: 0;
  list-style: none;
  font-size: 13px;
}

.navbar .megamenu ul li {
  border-top: 1px #f7f8ff solid;
  padding: 5px 0px;
}

/* ============ desktop view ============ */

@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }

  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
}

/* ============ mobile view ============ */

@media (max-width: 991px) {
  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
}

/*COL TOP FOOTER*/

.col-top-footer {
  background: #f7f8ff;
}

img.img-kementrian {
  max-width: 200px;
}

img.img-bangga-indonesia {
  max-width: 150px;
}

img.img-aprisindo {
  max-width: 80px;
}

/*FOOTER*/

footer {
  background: #004daf;
  background-image: linear-gradient(to right, #004daf, #004daf);
}

/*PAGINATION*/

.page-link {
  background: #ffffff !important;
  font-size: 13px;
  color: #004daf !important;
  border-radius: 0px !important;
  border-color: #f7f8ff;
  box-shadow: none !important;
}

.page-link:hover,
.page-link:focus,
.page-link:active,
.page-link.active {
  background: #004daf !important;
  border-color: #004daf;
  color: #ffffff !important;
}

li.page-item.disabled .page-link {
  background: #f7f8ff !important;
  color: #58595b !important;
}

/*PRODUK DETAIL THUMBNAIL ZOOM*/

.product-page img {
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: 0px;
  border: 1px #dddddd solid;
}

.product-page .zoom img {
  border: 1px #dddddd solid;
  border-color: transparent;
}

.product-page .thumbnails .thumb.active a img {
  border: 1px #004daf solid;
}

.product-page {
  display: flex;
}

.product-page .img-display {
  flex-grow: 1;
  max-width: 100%;
}

.product-page .thumb {
  opacity: 0.7;
  margin: 0 0.35rem 0.2rem 0;
  width: 127.64px;
  transition: opacity 0.25s ease-out;
}

.product-page .thumb:hover,
.product-page .thumb.active {
  opacity: 1;
}

.product-page .zoom {
  display: inline-block;
  border: 1px #dddddd solid;
  border-color: rgb(221, 221, 221, 0.72);
  border-radius: 0px;
}

/*PRODUK DETAIL*/

.col-breadcrumb p {
  font-size: 13px;
}

.price {
  font-size: 22px !important;
}

.nav.nav-pills {
  border-top: 0px #ddd solid;
  border-bottom: 1px #ddd solid;
}

.nav.nav-pills .nav-link {
  color: #58595b !important;
  background: transparent;
  border-bottom: 2px #004daf solid;
  border-color: transparent;
  border-radius: 0px;
  height: 50px;
  min-width: 100px;
  transition: all 0.3s ease-in-out;
}

.nav.nav-pills .nav-link.active {
  color: #13182b !important;
  border-bottom: 2px #004daf solid;
  transition: all 0.3s ease-in-out;
}

.tab-content {
  border-bottom: 1px #ddd solid;
}

img.img-toko {
  width: 50px;
  height: 50px;
  margin: 0px 5px 0px 0px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px #f7f8ff solid;
}

img.img-pin-marker {
  width: 16px;
  height: 16px;
  margin: 0px 5px 0px 0px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px #f7f8ff solid;
  padding: 2px;
}

.btn.btn-email {
  background: #ffffff;
  border: 1px #004daf solid;
  border-radius: 0px;
  min-width: 130px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}

.btn.btn-email:hover,
.btn.btn-email:focus,
.btn.btn-email:active {
  opacity: 0.72;
  transition: all 0.3s ease-in-out;
}

.col-bottom-content-produk-detail {
  border-top: 1px #ddd solid;
}

/*CARD*/

.card {
  border: 1px #e2eee6 solid;
  border-radius: 0px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  border: 1px #ffffff solid;
  box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.12);
  transition: all 0.3s ease-in-out;
}

.card img.img-toko {
  width: 16px;
  height: 16px;
  margin: -2px 5px 0px 0px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px #e2eee6 solid;
}

/*SELECT 2*/

.select2-container {
  width: 100% !important;
}

.select2-selection {
  border: 1px #e2eee6 solid !important;
  height: 40px !important;
}

.select2-selection__rendered {
  color: #13182b !important;
  font-weight: 600 !important;
  line-height: 2.6em !important;
}

.select2-selection__arrow {
  height: 40px !important;
}

.select2-dropdown {
  border: 1px #e2eee6 solid !important;
}

.select2-results {
  font-weight: 600 !important;
}

.select2-search__field {
  border: 1px #e2eee6 solid !important;
}

.select2-search__field:focus,
.select2-search__field:active {
  border: 1px #004daf solid !important;
}

.select2-results__option--selected {
  background-color: #e2eee6 !important;
  color: #13182b !important;
}

.select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #004daf !important;
  color: #ffffff !important;
}

.select2-results__option--disabled {
  background: #f7f8ff !important;
  color: #58595b !important;
}

/*BRAND*/

.card.card-brand:hover {
  border: 1px #e2eee6 solid !important;
  box-shadow: none !important;
}

.img-toko.img-top-card-brand {
  width: 100% !important;
  height: auto !important;
}

.col-left-top-content p.text-brand-toko {
  font-size: 18px !important;
}

.col-left-top-content img.img-pin-marker {
  width: 18px;
  height: 18px;
}

.col-md-right {
  border-left: 1px #e2eee6 solid;
}

.col-link-sosial-media {
  margin-bottom: 10px;
}

.col-link-sosial-media a img {
  width: 32px;
  height: 32px;
}

.col-bottom-card .tab-content {
  border-bottom: 0;
}

@media (min-width: 360px) and (max-width: 767px) {
  /*LOGIN*/

  .bg-left-login {
    display: none !important;
  }

  .bg-right-login {
    height: 100vh;
  }

  .bg-right-login .card-body {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

  .form-check .form-check-input {
    top: 3px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /*LOGIN*/

  .bg-left-login {
    display: none !important;
  }

  .bg-right-login {
    height: 100vh;
  }

  .bg-right-login .card-body {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}
